nav,header,footer{
	display: block;
}
body{
	line-height: 1;
	margin: 0;
}
.container {
  width: 100%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
}
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
.row::after {
  display: table;
  clear: both;
  content: "";
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
  box-sizing: border-box;
}
nav{
	width: 100%;
	margin:0;
}
nav ul{
	background-color: #EEE;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
ul.topNav li{
	list-style: none;
	float: left;
}
ul.topNav li.topNav-Right{
	float: right;
}
ul.topNav li a{
	display: block;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	padding: 15px;
	text-transform: uppercase;
	color: #666;
}
ul.topNav li a:hover{
	background-color: #0080ff;
	color: #fff;
}
ul.topNav li.dropdownIcon{
	display: none;
}


#section-1-Gradiant{
    background: #076DFF;
    background: -webkit-linear-gradient(#076DFF, #65a5ff); 
    background: -o-linear-gradient(#076DFF, #65a5ff); 
    background: -moz-linear-gradient(#076DFF, #65a5ff); 
    background: linear-gradient(#076DFF, #65a5ff); 
	}
div.leftside-col{
	margin-left: 30%;
} 
div.rightSide-col{
  margin-left: 15%;
}
h1.large {
  color: #fff;
  font-size: 50px;
  margin: 0;
  line-height: 70px;
}
form h2{
	color: #fff;
}

input[type="text"]{
  font-size: 20px;
  width: 400px;
  min-width: 100px;
  padding: 5px;
  border-radius: 7px;
}


@media screen and (max-width:560px){
	ul.topNav li:not(:nth-child(1)){
		display: none;
	}
	ul.topNav li.dropdownIcon{
		display: block;
		float: right;
	}
	ul.topNav.responsive li.dropdownIcon{
		position: absolute;
		top: 0;
		right: 0;
	}
	ul.topnav.responsive{
		position: relative;;
	}
	ul.topNav.responsive li{
		display: inline ;
		float: none;
	}
	ul.topNav.responsive li a{
		display: block; 
		text-align: left;
	}

	.col-6{
		width: 100%;
		margin: 0;
		 	
	}
	div.leftside-col,div.rightSide-col{
		margin: 15px;
	}
	input[type="text"]{
 
  		width: 300px;
  
	}
	div.videoContainer iframe {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }

}



@media screen and (max-width:280px){
	ul.topNav li:not(:nth-child(1)){
		display: none;
	}

	ul.topNav li.dropdownIcon{
		display: block;
		float: right;
	}
	ul.topNav.responsive li.dropdownIcon{
		position: absolute;
		top: 0;
		right: 0;
	}
	ul.topnav.responsive{
		position: relative;;
	}
	ul.topNav.responsive li{
		display: inline ;
		float: none;
	}
	ul.topNav.responsive li a{
		display: block; 
		text-align: left;
	}

	.col-6{
		width: 100%;
		margin: 0;
		 	
	}
	div.leftside-col,div.rightSide-col{
		margin: 15px;
	}
	input[type="text"]{
 
  		width: 275px;
  
	}
	div.videoContainer iframe {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
}
